h1 {
    color: goldenrod;
    font-size: 100px
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./images/table.png");
    background-repeat: no-repeat ;
    background-size: cover;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    font-size: xx-large
}

#message-el {
    font-size: 50px;
    font-style: italic;
}

button {
    color: #016f32;
    width: 250px;
    height: 50px;
    background-color: goldenrod;
    border: 2px solid;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;    
    border-radius: 5px;
    
}